*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --font-size:16px;
    --font-weight:400;
    --bg-color:#fff;
    --text-color:#000;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: 
        url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), 
        url("../fonts/open-sans-v29-latin-regular.woff") format("woff"); 
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/open-sans-v29-latin-700.woff2") format("woff2"),
        url("../fonts/open-sans-v29-latin-700.woff") format("woff"); 
}
body{
    font-family: "Open Sans", "Arial", sans-serif;
}
.container{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    padding: 0 212px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--bg-color);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.logo{
    padding: 18px 0;
    margin-right: auto;
}
.logo:hover{
    opacity: 0.8;
}
.logo:hover{
    opacity: 0.6;
}
.logo img{
    display: block;
}
.navbar-list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
.navbar-item{
    position: relative;
    padding: 13px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navbar-item  a{
    display: inline-block;
    text-decoration: none;
    font-weight: var(--font-weight);
    font-size: 15px;
    line-height: 24px;
    padding: 2px 16px;
    color: var(--text-color);
}
.navbar-item:hover{
    border-bottom: 2px solid #000;
    z-index: 5;
}
.navbar-item:active{
    background: rgba(25, 25, 25, 0.7);
}
.navbar-item:nth-child(2):hover .dropdawn-list{
    display: block;
}
.dropdawn-list{
    position: absolute;
    top: 59px;
    left: -13px; 
    border-radius: 5px;
    width: 125px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.dropdawn-item {
    width: 100%;
    text-align: left;
    padding: 16px 0 16px 16px;
}
.dropdawn-item a{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    color: #000;
}
.dropdawn-item:hover{
    background-color:#00BAFC
}
.dropdawn-item:active{
    background: #00BAFC;
    opacity: 0.6;
}
.btn-nav{
    text-align: center;
    display: inline-block;
    height: 40px;
    margin: 8px 0 8px 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 5px 16px;
    background: #00BAFC;
    border-radius: 5px;
    text-decoration: none;
    border: 3px solid transparent;
}
.btn-nav:hover{
    border: 3px solid #00BAFC;
    background-color: #fff;
    color: #00BAFC;
}
.btn-nav:active{
    color: #fff;
    background: rgba(0, 186, 252, 0.6);
    border: 3px solid transparent;
}
.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-text{
    padding: 153px 172px 97px 0;
}
.main-text h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: var(--text-color);
    margin: 0;
    padding-bottom: 16px;
}
.main-text p{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 24px;
    color: var(--text-color);
    padding-right: 5px;
}
.main-text a{
    display: inline-block;
    padding: 8px 16px;
    margin-top: 16px;
    text-decoration: none;
    background: #00BAFC;
    border-radius: 5px;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 24px;
    color: #FFFFFF;
}
.main-text a:hover{
    background: rgba(0, 186, 252, 0.8);
}
.main-text a:active{
    background: rgba(0, 186, 252, 0.6);
}
.main-vedio{
    padding: 136px 0;
}
.main-vedio-border{
    border-radius: 5px;
    border: none;
}
.services{
    padding-top: 56px;
    text-align: center;
}
.services h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 16px;
}
.services-text{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 24px;
    text-align: center;
    color: var(--text-color);
    padding: 0 175px;
}
.services-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.services-list li{
    width: 320px;
    height: 260px;
    background: var(--bg-color);
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right:70px;
    margin-bottom: 48px;
    list-style: none;
}
.services-list li:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.services-list li:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.services-list li:nth-child(3){
    margin-right: 0;
}
.services-list li:nth-child(4){
    margin-bottom: 48px;
    
}
.services-list li:nth-child(5){
    margin-bottom: 48px;
    
}
.services-list a{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    position: relative;  
}
.services-list h3{
    padding-top: 175px;
    padding-bottom: 16px;
}
.services-list li a::before {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.services-list li:nth-child(1) a::before {
    top: 20px;
    left: -96px;
    width: 202px;
    height: 130px;
    background-image: url("../images/website-illustration.svg");
}

.services-list li:nth-child(2) a::before {
    top: 20px;
    left: -105px;
    width: 220px;
    height: 130px;
    background-image: url("../images/bot-illustration.svg");
}
.services-list li:nth-child(3) a::before {
    top: 20px;
    left: -95px;
    width: 176px;
    height: 130px;
    background-image: url("../images/smm-illustration.svg");
}
.services-list li:nth-child(4) a::before {
    top: 20px;
    left: -95px;
    width: 176px;
    height: 130px;
    background-image: url("../images/design-illustration.svg");
}
.services-list li:nth-child(5) a::before {
    top: 20px;
    left: -95px;
    width: 176px;
    height: 130px;
    background-image: url("../images/crm-illustration.svg");
    background-size: auto;
}
.services-link{
    color: #00BAFC;
}
.services-btn{
    padding: 8px 16px;
    font-weight: 700;
    background: #00BAFC;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 16px;
    color: #fff;
}
.services-btn:hover{
    background: rgba(0, 186, 252, 0.8);
}
.services-btn:active{
    background: rgba(0, 186, 252, 0.6);
}
.thework{
    padding-top: 120px;
}
.thework h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 16px;
}
.thework-text{
    width: 719px;
    text-align: center;
    margin: 0 auto;
}
.thework-text p{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 24px;
    color: var(--text-color);
}
.thework-list{
    list-style: none;
    padding: 0 145px;
}
.thework-list li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 18px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.thework-list li:nth-child(even){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.thework-box{
    width: 482px;
    margin-left: 35px;
    margin-right: 15px;
}
.thework-box h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    padding-bottom: 8px;
}
.thework-box p{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 24px;
}
.thework-list li::before{
    content: "";
    display: inline-block;
    width: 300px;
    height: 278px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.thework-list li:nth-child(1)::before {
    background-image: url(../images/step-illlustration2.svg);
}
.thework-list li:nth-child(2)::before {
    background-image: url(../images/step-illlustration1.svg);
}
.thework-list li:nth-child(3)::before {
    background-image: url(../images/step-illustration5.svg);
}
.thework-list li:nth-child(4)::before {
    background-image: url(../images/step-illustration3.svg);
}
.thework-list li:nth-child(5)::before {
    background-image: url(../images/step-illustration4.svg);
}
.thework-btn{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 56px;
}
.thework-btn a{
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 24px;
    color: #FFFFFF;
}
.thework-btn a:hover{
    background: rgba(0, 186, 252, 0.8);
}
.thework-btn a:active{
    background: rgba(0, 186, 252, 0.6);
}
.place-an-order{
    text-align: center;
    background: #00BAFC;
    padding: 56px 100px 64px 100px;
}
.place-an-order h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}
.place-an-order-text{
    margin: 0 auto;
    width: 719px;
}
.place-an-order-text p{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 24px;
}
form {
    width: 348px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
}
input::-webkit-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
input::-moz-placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
input:-ms-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
input::-ms-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
form input{
    width: 300px;
    padding: 16px;
    background: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 16px;
    border: none;
}
select{
    width: 300px;
    padding: 16px;
    background: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 16px;
    color: var(--text-color);
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url('../images/icon.svg');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}
form button{
    padding: 8px 16px;
    background: #00BAFC;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}
form button:hover{
    background: rgba(0, 186, 252, 0.8);
}
form button:active{
    background: rgba(0, 186, 252, 0.6);
}
footer{
    background: #191919;
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-left{
    padding: 56px 100px 120px 0;
}
.footer-left strong{
    color: #fff;
    font-size: 20px;
}
.footer-left p{
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer-left-text{
    width: 320px;
    padding: 5px;
}
.footer-center{
    padding-top: 56px;
}
.footer-center strong, .footer-right strong{
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 8px;
}
.footer-right ul,
.footer-center ul{
    list-style: none;
}
.footer-center li,
.footer-right li{
    padding: 8px 0;
}
.footer-center a,
.footer-right a {
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-center a:hover{
    color: #00BAFC
}
.footer-center a:active{
    opacity: 0.6;
}
.footer-right{
    padding: 56px 0 0 87px;
}
.footer-right li a::before{
    content: "";
    padding-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left  1px ;
}
.footer-right li:nth-child(1) a::before{
    background-image: url("../images/telegram.svg");
}
.footer-right li:nth-child(2) a::before{
    background-image: url("../images/facebook.svg");
}
.footer-right li:nth-child(3) a::before{
    background-image: url("../images/instagram.svg");
}
.footer-right a:hover{
    color: #00BAFC;
}
.footer-right a:active{
    opacity: 0.6;
}