*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: 
        url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), 
        url("../fonts/open-sans-v29-latin-regular.woff") format("woff"); 
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/open-sans-v29-latin-700.woff2") format("woff2"),
        url("../fonts/open-sans-v29-latin-700.woff") format("woff"); 
}
.services-box {
    padding: 128px 0 0 0;
}
.services-box-title{
    width: 861px;
    margin: 0 auto;
}
.services-box-title h2 {
    font-size: 40px;
    line-height: 130%;
    text-align: center;
}
.services-box-title p{
    padding: 16px 0 72px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.services-wrapper {
    padding-top: 48px;
    background: #F4F4F4;
}
.services-box-wrapper{
    padding: 32px 0;
}
.services-box-list{
    padding-bottom: 32px;
}
.services-box-item {
    width: 827px;
    /* margin: 0 auto; */
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    list-style: none;
}
.services-box-item:nth-child(1)::before{
    position: absolute;
    top: 32px;
    left: 32px;
    content: '';
    width: 200px;
    height: 117.05px;
    display: inline-block;
    background-image: url("../images/services-site.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.services-box-item:nth-child(2):before {
    position: absolute;
    top: 32px;
    left: 32px;
    content: '';
    width: 200px;
    height: 117.05px;
    display: inline-block;
    background-image: url("../images/services-bot.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.services-box-item:nth-child(3):before {
    position: absolute;
    top: 32px;
    left: 32px;
    content: '';
    width: 200px;
    height: 117.05px;
    display: inline-block;
    background-image: url("../images/services-smm.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.services-box-item:nth-child(4):before {
    position: absolute;
    top: 32px;
    left: 32px;
    content: '';
    width: 200px;
    height: 117.05px;
    display: inline-block;
    background-image: url("../images/design-illustration.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.services-box-item:nth-child(5):before {
    position: absolute;
    top: 32px;
    left: 32px;
    content: '';
    width: 200px;
    height: 117.05px;
    display: inline-block;
    background-image: url("../images/services-crm.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.services-box-item{
    position: relative;
    top: 0;
    left: 0;
    width: 827px;
    margin: 64px auto;
    padding-left: 252px;
}
.services-box-item h3{
    padding: 4px 0 8px 0;
    font-size: 20px;
    line-height: 130%;
}
.services-box-item p{
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.services-box-blok{
    list-style: none;
}
.services-box-blok li{
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.services-box-blok li::before{
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 12px;
    height:12px;
    border-radius: 50%;
    background: #00BAFC;
}
.services-box-link {
    display: inline-block;
    margin-top: 24px;
    padding: 8px 16px;
    text-align: center;
    background: #00BAFC;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.services-box-link:hover{
    background: #00bafccc;
}
.services-box-link:active{
    background: #00bafc99;
}
.services-box-linkto{
    display: inline-block;
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #00BAFC;
}
